record_pacs*/
*.pyc
data/*
data_cropped/*
record/*
*.npz
__pycache__/
*.idea
*.log
typescript
ez_task*
valid*
core.37959
kujain/
record_office/
record_office_test/
record_office*/
record_variance*/
*.zip
*.tar
*.swp
clusters_*
